

.addDeatilMain{
    display: flex;
    margin-left: 50px;
    margin-block: 20px;
}
.addFLaskMain{
    display: flex;
    margin-inline: 150px;
}
.addFlaskQRMAin{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 30px;
}
.addFlaskDeatilMain{
    margin-top: 20px;
}

.addflaskInput{
    background-color: #dde9f1;
    border: none;
    height: 40px;
    width: 130px;
    font-size: 20px;
    text-align: center;
}
.addflaskInputID{
    background-color: #dde9f1;
    border: none;
    height: 40px;
    width: 130px;
    font-size: 20px;
    text-align: center;
    /* padding-left: 10px;
    padding-top: 5px; */
}
.addflaskInputID::placeholder{
    font-size: 20px;
}

.addSaveNewBtn{
    height: 40px;
    width: 150px;
    border: none;   
    margin-left: 20px;
    background-color: #dbdbdb;
    border-radius: 20px;
    /* background-color: #675ce6; */
    font-size: 16px;
    font-weight: 600;
    /* color: white; */
    cursor: pointer;
}

.div-small{
    position:relative;
    display:flex;
    flex-direction:column;
}

.div-small-text{
    position:absolute;
    bottom:0;
    right:0;
    color:#757585;
    padding-right:4px;
    padding-bottom:1.5px
}