.customHeaderCell {
    background-color: #ffde59;
    color: black;
    font-weight: bold;
    padding: 8px;
}

.grid-btn {
    border: 1px solid #00000061;
    border-radius: 5px;
    padding: 5px 12px;
    cursor: pointer;
    background-color: #00000033;
    width: auto;
    font-weight: 600;
}

.grid_head {
    display: flex;
}

.DataGridTable {
    position: absolute;
    bottom: 0;
    top: 58px;
}

.menu {
    display: none;
}

.grid_head_container {
    background-color: #f1f1f1;
    padding: 12px;
}

select {
    background: rgb(249, 249, 249);
}

.menu_responsive {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
}

.MuiDataGrid-cell:focus {
    outline: none !important;
    border: none !important;
}

.MuiDataGrid-root:focus {
    outline: none !important;
}

.button-print {
    outline: none !important;
    border: none !important;
}

.button-print:focus {
    outline: none !important;
    border: none !important;
}

.fileIconBtn {
    display: none;
}

@media screen and (max-width:1624px) {

    .date,
    .HomeBtnPc {
        display: none;
    }

    .fileIconBtn {
        display: block;
    }

    .select_metaltype {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .menu_responsive {
        display: flex;
        gap: 5px;
        flex-direction: row;
    }

    .grid_head_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px
    }
}

@media screen and (max-width:1000px) {
    .refressBtn {
        display: none;
    }
}

@media screen and (max-width:810px) {
    .refressBtn {
        display: none;
    }

    .grid_searchInput {
        width: 220px !important;
    }
}