.customHeaderCell {
    background-color: #ffde59; /* Change this to your desired color */
    color: black; /* Change this to your desired text color */
    font-weight: bold; /* Additional styles if needed */
    padding: 8px; /* Additional styles if needed */
  }

.grid-btn{
    border:1px solid #00000061;  
    border-radius:5px;
    padding:5px 12px;
    cursor:pointer;
    /* box-shadow: 2px 4px 3px #dbdbdb; */
    background-color: #00000033;
    width:auto;
    font-weight: 600;
}

/* .grid-btn:active{
    box-shadow: 0px 1px 0px #dbdbdb;
} */

.grid_head{
    display:flex;
    /* gap:12px; */
}

.DataGridTable{
    /* height: 100%; */
    position: absolute;
    bottom: 0;
    top:58px;
}



.menu{
    display: none;
}

.grid_head_container{
    /* display: flex; */
    background-color:#f1f1f1;
    padding: 12px;
    /* gap:15px; */
    /* align-items: center; */
    /* justify-content:center, */
}

.menu_responsive{
    display: flex;
    justify-content: space-between;
    gap:12px;
    align-items: center;
}

@media screen and (max-width:1624px) {
    .date{
        display: none;
    }
    
    .select_metaltype{
        display: none;
    } 

    .menu{
        display: flex;
    }

    .menu_responsive{
        display:flex;
        gap:5px;
        flex-direction:row;
    }

    .grid_head_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:5px
    }
}