.customHeaderCell {
    background-color: #ffde59; /* Change this to your desired color */
    color: black; /* Change this to your desired text color */
    font-weight: bold; /* Additional styles if needed */
    padding: 8px; /* Additional styles if needed */
  }

.grid-btn{
    border:1px solid rgba(0,0,0,0.12);  
    border-radius:5px;
    padding:5px 12px;
    cursor:pointer;
    /* box-shadow: 2px 4px 3px #dbdbdb; */
    background-color: #d9d9d8;
    width:auto
}

/* .grid-btn:active{
    box-shadow: 0px 1px 0px #dbdbdb;
} */

.grid_head{
    display:flex;
    gap:12px;
}



.menu{
    display: none;
}

.grid_head_container{
    /* display: flex; */
    background-color:#f1f1f1;
    padding: 12px;
    /* gap:15px; */
    /* align-items: center; */
    /* justify-content:center, */
}

.menu_responsive{
    display: flex;
    justify-content: center;
    gap:12px;
    align-items: center;
}

@media screen and (max-width:1327px) {
    .date{
        display: none;
    }
    
    .select_metaltype{
        display: none;
    } 

    .menu{
        display: block;
        margin-right: 120px;
    }

    .menu_responsive{
        display:flex;
        gap:12px;
        flex-direction:row-reverse;
    }

    .grid_head_container{
        display: flex;
    }
}