.headerTwoListBtn {
    background-color: #eceded;
    border: none;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-inline: 40px;
}

.allDataCreteDiv{
    width: 100%;
}

.infoTextInput {
    height: 40px;
    width: 20%;
    border: none;
    background-color: #d9d9d8;
    margin: 2px;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 14px;
}
.infoTextInput::placeholder {
    font-size: 15px!important;
    margin: 10px!important;
    font-weight: 600;
}
.infoTextInputBatch{
    height: 40px;
    width: 10%;
    border: none;
    background-color: #d9d9d8;
    margin: 2px;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 14px;
}
.infoTextInputBatch::placeholder {
    font-size: 15px!important;
    margin: 5px!important;
    font-weight: 600;
    color: #a2a2a2;
}
.infoTextInputWight{
    height: 40px;
    width: 12%;
    border: none;
    background-color: #d9d9d8;
    margin: 2px;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 14px;
}
.infoTextInputWight::placeholder {
    font-size: 15px!important;
    margin: 10px!important;
    font-weight: 600;
    color: #a2a2a2;

}



.selecGold{
    height: 46px;
    width: 100%;
    padding-inline: 10px;
    font-size: 15px;
    font-weight: 500;
    border-color: #c4c4c4;
    color: black;
}

.selecGoldOption{
    font-size: 13px;
}
.createORMain{
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 30px;
    width: 27%;
}
.enterBrachItemBox {
    height: 45px;
    width: 150px;
    font-size: 18px;
    border: none;
    background-color: #d9d9d8;
}

.allScaneDataMain{
    width: 35%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.totalItemText{
    font-size: 20px;
    background-color: #eceded;
    padding-inline: 80px; 
    padding-block: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0px;
    width: fit-content;
}
.allScandataMain{
    display: flex;
    align-items: center;
    gap:10px
}
.allScanData{
    display: flex;
    list-style: none;
    width: 180px;
    background-color: #cef6ce;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 2px solid #a6d785;
    border-radius: 5px;
    font-size: 22px;
    margin: 7px 0px;
   
}
.uploadImageBtn{
    /* #d9d9d8 */
   height: 50px;
   width: 200px;
   font-size: 20px;
   font-weight: 500;
}
.uplodedImageMain{
    width: 30%;
    text-align: center;
}
.uplodedImage{
    width:200px;
    margin-top: 30px;
}
.bottomBtnDivMain{
    display: flex;
    justify-content: space-around;
}

.showInfoBtn{
    background-color:  #d9d9d8;
    border: none;
    height: 40px;
    width: 150px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin: 15px;
}

.bottomBtnDivMain{
    background-color: #eceded;
}


.uploadTreeBtn{
    height: 55px;
    width: 150px;
    background-color: #eceded;
    border: 1px solid;
    font-size: 15px;
    cursor: pointer;
}
.printQRbtn{
    height: 55px;
    width: 150px;
    background-color: #eceded;
    border: 1px solid;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.uploadBtnMain{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 20px;
}

.homeNoteTitle {
    color: #6257e3;
    font-size: 30px;
    margin: 0px 10px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
    
}

.homeNoteDesc {
    background-color: #ffde59;
    height: 30px;
    font-size: 22px;
    margin: 0px;
    padding: 0px 10px;
}
.addReamrkTextBox{
    height: 80px;
    width: 500px;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    height: 15px!important;
    width: 70%!important;
    font-size: 15px!important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    height: 50px!important;
    width: 90%!important;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    border-color: black!important;
}
.makeStyles-datePickerRoot-64{
    margin-top: 0px!important;
}
.makeStyles-datePickerRoot-13{
    margin-top: 0px!important;

}

.body_container{
    display:flex; 
    margin-top:20px;
    justify-content:space-between;
}



@media screen and (max-width:720px) {
    .body_container{
        display: flex;
        flex-wrap: wrap;
    }

    .createORMain{
        width:100%;
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0px;
    }

    .allScaneDataMain{
        width: 100%;
        order: 3;
    }

    .uplodedImageMain{
        width:100%;
        order:2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


