.headerTwoListBtn {
    background-color: #eceded;
    border: none;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-inline: 40px;
}

.allDataCreteDiv {
    width: 100%;
}

.infoTextInput {
    height: 40px;
    width: 50px;
    border: none;
    background-color: white;
    margin: 2px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 25px;
    margin-inline: 10px;
}
.infoTextInputONe{
    border: none;
    margin: 0px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 20px;
    margin-inline: 10px;
    /* background-color: #eceded; */
}
.FixedGoldColorText{
    border: none;
    margin: 0px;
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding-block: 10px;
    background-color: lightyellow;
}
.infoTextInputBatch {
    height: 40px;
    width: 203px;
    font-weight: 500;
    margin: 0px;
    background-color: #d9d9d8;
    outline: none;
    border: none;
    margin: 2px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 25px;
    margin-inline: 5px;
    border-radius: 5px;
}

.infoTextInputWight {
    height: 40px;
    width: 203px;
    border: none;
    background-color: 'white';
    margin: 2px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 25px;
    margin-inline: 5px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;

}

.infoTextInputWight::placeholder {
    font-size: 25px !important;
    margin: 10px !important;
    font-weight: 600;
    color: #a2a2a2;

}

.infoTextInputSelectGod {
    height: 40px;
    width: auto;
    border: none;
    background-color: 'white';
    margin: 2px;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 25px;
    margin-inline: 25px;
}

input[type='date']::-webkit-calender-picker-indicatore {
    display: none;
}


.selecGold {
    height: 46px;
    width: 100%;
    padding-inline: 10px;
    font-size: 15px;
    font-weight: 500;
    border-color: #c4c4c4;
    color: black;
}

.selecGoldOption {
    font-size: 13px;
}

.createORMain {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 30px;
    width: 45%;
}

.enterBrachItemBox {
    height: 45px;
    width: 150px;
    font-size: 18px;
    border: none;
    background-color: #d9d9d8;
}

.allScaneDataMain {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 390px;
}

.CreateDataMain {
    align-items: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    /* padding: 18px; */
}

.totalItemText {
    font-size: 25px;
    background-color: #eceded;
    padding-block: 10px;
    height: 80px;
    width: 100px;
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: center;
    border-radius: 100px;
    margin: 10px;
}

.totalItemTextFail {
    font-size: 25px;
    background-color: red;
    padding-block: 10px;
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: center;
    border-radius: 100px;
    margin: 10px;
    height: 80px;
    width: 100px;

}

.totalItemTextTrue {
    font-size: 25px;
    background-color: lightgreen;
    padding-block: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0px;
    width: 100px;
    justify-content: center;
    border-radius: 100px;
    margin: 10px;

}

.allScandataMain {
    display: flex;
    align-items: center;
    gap: 10px
}

.allScanData {
    display: flex;
    list-style: none;
    width: 120px;
    background-color: #cef6ce;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 2px solid #a6d785;
    border-radius: 5px;
    font-size: 22px;
    margin: 2px 0px;

}

.uploadImageBtn {
    /* #d9d9d8 */
    height: 40px;
    width: 130px;
    font-size: 16px;
    font-weight: 500;
}

.uplodedImageMain {
    width: 35%;
    text-align: center;
}

.uplodedImage {
    width: 95%;
    height: 95%;
    margin-left: -10px;
}
.uploadDefaultImg{
    width: 55%;
}
.uplodedImageProfile {
    width: 85%;
    margin-left: -10px;
}

.bottomBtnDivMain {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.TopBtnDivMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}
.TopBtnDivMainOne{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 30px;
    background-color: lightyellow;

}
.showInfoBtn {
    background-color: #d9d9d8;
    border: none;
    height: 40px;
    width: 150px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin: 5px;
}

.bottomBtnDivMain {
    background-color: #eceded;
}


.uploadTreeBtn {
    height: 55px;
    width: 150px;
    background-color: #eceded;
    border: 1px solid;
    font-size: 15px;
    cursor: pointer;
}

.printQRbtn {
    height: 55px;
    width: 150px;
    background-color: #eceded;
    border: 1px solid;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.uploadBtnMain {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 20px;
}

.homeNoteTitle {
    color: #6257e3;
    font-size: 25px;
    margin: 30px 50px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}

.homeNoteDesc {
    background-color: #ffde59;
    height: 20px;
    font-size: 15px;
    margin: 0px;
    padding: 0px 10px;
}
.homeRemarkDesc{
    background-color: #6257e3;
    color: white;
    margin: 0px;
}
.addReamrkTextBox {
    height: 80px;
    width: 500px;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    height: 15px !important;
    width: 70% !important;
    font-size: 15px !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    height: 50px !important;
    width: 90% !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    border-color: black !important;
}

.makeStyles-datePickerRoot-64 {
    margin-top: 0px !important;
}

.makeStyles-datePickerRoot-13 {
    margin-top: 0px !important;

}

.body_container {
    display: flex;
    margin-top: 20px;
}

.createFooterMain {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-top: 10px;
}

.scaneUploadMain {
    display: flex;
    width: 65%;
}

::-webkit-scrollbar {
    /* width: 5px; */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media screen and (max-width: 1000px) {
    .body_container {
        display: flex;
        flex-wrap: wrap;
    }

    .createORMain {
        width: 100%;
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .allScaneDataMain {
        width: 100%;
        order: 3;
    }

    .scaneUploadMain {
        width: 50%;
    }
    .uplodedImageMain{
        margin-left: 60px;
    }
    .infoTextInput {
        font-size: 20px;
        font-weight: 500;
    }

    .infoTextInputSelectGod {
        font-size: 20px;
        font-weight: 500;

    }

    .uplodedImageProfile {
        width: 100%;
    }

    .scaneUploadMain {
        display: flex;
        flex-direction: column;
    }
}
