.mainTitle {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: lightyellow;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}
.logoImg{
    width: 30%;
}

.NoteMain{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Noteimg{
    width: 70%;
}
.NoteImgTitle{
    font-size: 22px;
    font-weight: 500;
    margin: 0px;
}

.bothBtnDiv {
    position: absolute;
    bottom: 20%;
    display: flex;
    background-color: white;
}



.homeNewTree {
    height: 40px;
    width: 120px;
    background-color: #eceded;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-inline: 5%;
}

.homeEditTree {
    height: 40px;
    width: 120px;
    background-color: #eceded;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-inline: 5%;

}

.homeNoteTitle {
    color: #6257e3;
    font-size: 30px;
    margin: 0px 10px;
    font-weight: 500;
    text-decoration: underline;
    
}

.homeNoteDesc {
    background-color: #ffde59;
    height: 30px;
    font-size: 22px;
    margin: 0px;
    padding: 0px 10px;
}