.investTopBox1 {
    width: auto;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    margin-top: 20px;
}

.investTopBox22 {
    width: auto;
}

.investTopBox3 {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputError {
    border: 1px solid red !important;
}

.errorMessage {
    color: red;
    margin-bottom: 10px;
}

.errorMessage {
    color: red;
    margin-top: 10px;
}

.investSideFixedImg {
    width: 35%;
    /* position: absolute;
    right: 0px; */
    width: auto;
    padding: 3px;
}

.invest_btn_div {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.invest_btn {
    height: 30px;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: #b8b8b8;
    border-radius: 10px;
}

.mainTitleBarCode {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #ffde59;
    width: fit-content;
    padding-inline: 10px;
    font-size: 20px;
    margin-bottom: 25px;
}

.investTopBox2 {
    width: 30%;
    border: 1px solid;
    margin-top: 30px;
    margin-left: 50px;
    /* style={{ marginLeft: '30px', display: 'flex', alignItems: 'center', flexDirection: 'column' }} */
}

.investTreeCount {
    background-color: #eceded;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    padding-block: 15px;
    margin: 0px;
    border-radius: 20px;
}

.investPowder {
    background-color: #eceded;
    height: 100px;
    border-radius: 10px;
    letter-spacing: 1px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    margin: 0px;
    padding-inline: 5px;
    font-size: 50px;
    font-weight: 700;
}

.investReqPowder {
    background-color: #eceded;
    height: 60px;
    width: 250px;
    padding-inline: 20px;
    border-radius: 10px;
    letter-spacing: 1px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    font-size: 25px;
    font-weight: 700;
}

.investDestilInputDiv {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.investDestilInputTitle {
    font-size: 19px;
    margin: 0px;
    display: flex;
    align-items: left;
    width: 150px;
}

.investDestilInputTitleNew {
    font-size: 20px;
    margin: 0px;
    display: flex;
    width: 150px;
}

.investDestilInput1 {

    /* background-color: #d9d9d8; */
    background-color: white;
    border: 1px solid #d9d9d8;
    /* height: 45px;*/
    width: 100px;
    font-size: 20px;
    padding: 12px;
    border-radius: 8px;
}

.investDestilInput1::-webkit-outer-spin-button,
.investDestilInput1::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.investAddGlassBtn {
    height: 35px;
    width: 100px;
    border: none;
    outline: none;
    background-color: #dbdbdd;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
}

.investStartBtn {
    background-color: #ffde59;
    height: 50px;
    width: 100px;
    border-radius: 15px;
    margin-top: 20px;
}

.investTableRow {
    border-bottom: 1px solid gray;
    padding: 10px;
    font-weight: normal;
}

.not {
    padding: 5px;
    font-size: 20px;
    border-bottom: 1px solid gray;
}

.sett {
    border-bottom: none;
}


.allScanInvestdataMain {
    display: flex;
    align-items: center;
}

.allInvestScanData {
    display: flex;
    list-style: none;
    width: 100px;
    background-color: #cef6ce;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 2px solid #a6d785;
    border-radius: 5px;
    font-size: 22px;
    margin: 5px 0px;
}

.DrawerImg {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}

.css-uyjz3f-MuiPaper-root-MuiDrawer-paper {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    width: 35%;
}

.invest_upload_btn {
    height: 37px;
    width: 130px;
    border: none;
    outline: none;
    background-color: black;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    margin: 3px;
}

/* .btncom:active{

    display: none;

} */