
.batchLsitBoxMain{
    background-color: #f1f1f1;
    width: 47%;
    border-radius: 20px;
    margin: 10px;
}
.cardSkeltonCard{
    width: 100%;
    margin: 10px;
}
.skeltonCard{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px !important;
    border-radius: 20px !important;
}
.muiskelton{
    background-color: #f1f1f1 !important;
}
